.s__so_1Tu3UqqGICUaY2GYv:not(#\#) {
    align-items: center;
    display: flex;
    padding: 12px 16px;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

.s__so_1Tu3UqqGICUaY2GYv.s__CzSaaGn9yHD_Xsin5TX2:not(#\#):after {
    border-bottom: 1px solid var(--ink_150-graphite_500);
    bottom: 0;
    content: "";
    left: 16px;
    position: absolute;
    right: 16px
}

@media(hover:hover), (pointer:fine) {
    .s__so_1Tu3UqqGICUaY2GYv.s__lq8cD0l4Yn2nCZzYhY4l:hover:not(#\#) {
        background-color: var(--alpha_4);
        cursor: pointer
    }
}

.s__nyNrf10NBkdwrf_QJ4J5:not(#\#)+.s__nyNrf10NBkdwrf_QJ4J5 {
    margin-left: 12px
}

.s__QBs_R7aDI1AAR1fDoaLu:not(#\#) {
    color: var(--text_primary);
    flex: 1
}

.s___MxQ_aPI6Gz_OLuPJVbz:not(#\#) {
    flex-shrink: 0
}

.s__LLfZ2e8o_Wh4O2Y_Au02:not(#\#) {
    background: none;
    border: none;
    color: var(--brand_primary_500);
    cursor: pointer;
    flex-shrink: 0;
    padding: 0;
    position: relative
}

.s__LLfZ2e8o_Wh4O2Y_Au02:not(#\#):after {
    bottom: -12px;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: -12px
}

.s__LLfZ2e8o_Wh4O2Y_Au02:hover:not(#\#) {
    opacity: .7
}

.s__X8J52aBiqDu77gnFpqip:not(#\#) {
    color: var(--icon_default);
    flex-shrink: 0;
    height: 16px;
    width: 16px
}

.s__X8J52aBiqDu77gnFpqip.s__kYVcJqNtcldlkzwdLG4Q:not(#\#) {
    transform: rotate(-90deg)
}

.s__X8J52aBiqDu77gnFpqip.s__kYVcJqNtcldlkzwdLG4Q.s___cTQqaumORffcKYzT_jD:not(#\#) {
    transform: rotate(90deg)
}

.s__X8J52aBiqDu77gnFpqip.s__i1cDnVEfLpwbSJISC0y1:not(#\#) {
    transform: rotate(180deg)
}

.s__O77wvRf_hvuOA5nFpPYV {
    --filter-tag-background-color: var(--ink_25);
    --filter-tag-text-color: var(--ink_400);
    --filter-tag-background-color-selected: var(--brand_primary_500)
}

.--night .s__O77wvRf_hvuOA5nFpPYV {
    --filter-tag-background-color: var(--graphite_500);
    --filter-tag-text-color: var(--graphite_300)
}

.s__ne3chFUqxaHaNlUrpnOA {
    align-items: center;
    background-color: var(--filter-tag-background-color);
    border-radius: 24px;
    color: var(--filter-tag-text-color);
    display: inline-flex;
    height: 24px;
    padding: 0 8px;
    position: relative;
    user-select: none
}

.s__ne3chFUqxaHaNlUrpnOA.s__LyGq79ausbP31bc1mCDm {
    background-color: var(--filter-tag-background-color-selected);
    color: var(--white);
    padding: 0 23px 0 8px
}

.s__IWR54m4aP2wPHFNOzch6 {
    align-items: center;
    -webkit-appearance: none;
    background: none;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    outline: none;
    padding: 4px;
    position: absolute;
    right: 0
}

@media (hover:hover),
(pointer:fine) {
    .s__IWR54m4aP2wPHFNOzch6:hover {
        opacity: .8
    }
}

@media (hover:none),
(pointer:coarse) {
    .s__IWR54m4aP2wPHFNOzch6 {
        padding: 9px;
        right: -5px
    }
}

.s__RxOety22zRTGSVNQIvpu {
    background-color: var(--white);
    border-radius: 50%;
    color: var(--brand_primary_500);
    height: 16px;
    padding: 2px;
    width: 16px
}

.s___5Gb7HMaiG3JWvIeEMSc:not(#\#) {
    display: none;
    padding-bottom: 4px;
    padding-top: 4px
}

.s__T7_k8_bd1S8I6Pjq3vgM.s__DB0DSeUy3jQ_Cmf0tTbK:not(#\#) .s___5Gb7HMaiG3JWvIeEMSc {
    display: block
}

.s__T7_k8_bd1S8I6Pjq3vgM.s__DB0DSeUy3jQ_Cmf0tTbK:not(#\#)+.s__T7_k8_bd1S8I6Pjq3vgM {
    margin-top: 8px
}

:root:not(#\#) {
    --filter-hover-background: var(--black_alpha_4)
}

.s__gFLQjXpvChaC_dOBSrdV:not(#\#) {
    --filter-hover-background: var(--white_alpha_4)
}

.s__EYUNog4pPHzmRhZ3fJFQ:not(#\#) {
    min-height: 48px;
    padding: 12px 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

.s__EYUNog4pPHzmRhZ3fJFQ:not(#\#) .s__slS5oEWZ1NdfnVO2V9NH {
    color: var(--ink_400-graphite_300)
}

@media(min-width:1024px) {
    .s__EYUNog4pPHzmRhZ3fJFQ:not(#\#) {
        min-height: 36px;
        padding-bottom: 8px;
        padding-top: 8px
    }
}

@media(hover:hover), (pointer:fine) {
    .s__QJE5wshHba4pGNJgX74s:hover:not(#\#) {
        background-color: var(--black_alpha_4);
        background-color: var(--filter-hover-background);
        cursor: pointer
    }
}

.s__CKwscTJgel2hmR47c0w2:not(#\#) {
    align-items: center;
    display: flex
}

.s__jwrc8FRDkCjkcwUQV_T0:not(#\#) {
    color: var(--text_primary);
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis
}

.s__v2lhQChF8jlg4yhvqSic:not(#\#) {
    flex-shrink: 0;
    margin-left: 15px
}

.s__rnzL12MBRtYYMUFFltK6:not(#\#) {
    background-color: var(--alpha_4)
}

.s__cjeacFsYDfmPavEEDqEP:not(#\#) {
    background: var(--graphite_700);
    height: 40px;
    position: relative;
    width: 100%
}

.s__AszEZ1Ccswl9yztfkTCA:not(#\#) {
    height: 100%;
    width: 100%
}

.s__RGEfdD8qMgU5C3Z_HQaH:not(#\#) {
    fill: var(--white_alpha_24)
}

.s__RGEfdD8qMgU5C3Z_HQaH.s__XBeEZUXKJoSrO348mJhT:not(#\#) {
    fill: var(--green_500)
}

.s__CXw9At1QUrgYdt5MP6Gu:not(#\#) {
    fill: var(--green_500);
    opacity: .2
}

.s__K2sah1Skm0jjhBu7ctUg:not(#\#) {
    background: var(--white);
    border-radius: 50px;
    color: var(--black);
    padding: 1px 4px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap
}

.s__IohxeH7fkFJh03_qIzUQ:not(#\#) .rc-slider {
    background-color: transparent;
    pointer-events: none
}

.s__IohxeH7fkFJh03_qIzUQ:not(#\#) .rc-slider .rc-slider-handle {
    cursor: pointer;
    pointer-events: auto
}

.s__IohxeH7fkFJh03_qIzUQ:not(#\#) .rc-slider .rc-slider-mark-text {
    background-color: var(--card_white_on_screen_background)
}

.s__CWTJllhIyj7zh_vAPoZ1:not(#\#) {
    padding: 12px
}

.s__CWTJllhIyj7zh_vAPoZ1:not(#\#) .rc-slider .rc-slider-handle:before {
    content: "";
    height: 48px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 48px
}

.s__CWTJllhIyj7zh_vAPoZ1:not(#\#) .rc-slider .rc-slider-mark-text {
    background-color: var(--card_gray_on_modal_background)
}

.s__CWTJllhIyj7zh_vAPoZ1:not(#\#)+.s__CWTJllhIyj7zh_vAPoZ1 {
    padding-top: 0
}

.s__IhiTCmn2KmfH4Qt7cjJH:not(#\#) {
    background-color: var(--card_gray_on_modal_background);
    border-radius: 14px;
    padding: 12px 16px
}

.s__mXwnzvU3J9GECIAXLQGB:not(#\#) .s__r8ps3GT5w0Fin4UQ5RXc:hover .s__Xe9ZAZwVi00oY6wTvaJP {
    background-color: var(--graphite_600)
}

.s__mXwnzvU3J9GECIAXLQGB:not(#\#) .s__r8ps3GT5w0Fin4UQ5RXc:hover .s__OO0OQfDrHqtmk40Gl89I {
    max-height: 88px;
    opacity: 1;
    visibility: visible
}

.s__mXwnzvU3J9GECIAXLQGB:not(#\#) .s__r8ps3GT5w0Fin4UQ5RXc:hover .rc-slider-rail {
    background-color: var(--white_alpha_16)
}

.s__r8ps3GT5w0Fin4UQ5RXc:not(#\#) {
    margin: 0 -16px;
    position: relative
}

.s__Xe9ZAZwVi00oY6wTvaJP:not(#\#) {
    padding: 8px 24px
}

.s__OO0OQfDrHqtmk40Gl89I:not(#\#) {
    background-color: var(--graphite_700);
    bottom: 100%;
    color: var(--graphite_50);
    left: 0;
    max-height: 34px;
    opacity: 0;
    overflow: hidden;
    padding: 12px 16px 0;
    position: absolute;
    right: 0;
    transition: max-height .3s cubic-bezier(.25, 1, .5, 1);
    visibility: hidden;
    z-index: 1
}

.s__smlOFIdg87YKvyyD_zWI:not(#\#) {
    color: var(--graphite_50)
}

.s__nE7ezd6EkaVPrKtfPLpT:not(#\#) {
    margin: 12px auto 0;
    width: calc(100% - 16px)
}

.s__H6oxde4LEJxpdTgLuPww {
    --slider_bg: var(--white-graphite_700);
    --track_bg_color: var(--black_alpha_16);
    --disabled_lines_color: var(--ink_300)
}

.--night .s__H6oxde4LEJxpdTgLuPww {
    --track_bg_color: var(--white_alpha_16);
    --disabled_lines_color: var(--graphite_400)
}

.s__ak8JOOgrLryWmXKV36vv .rc-slider {
    background-color: var(--slider_bg);
    border-radius: 6px;
    box-sizing: border-box;
    height: 18px;
    position: relative;
    touch-action: none;
    width: 100%
}

.s__ak8JOOgrLryWmXKV36vv .rc-slider .rc-slider-rail {
    background-color: var(--track_bg_color);
    height: 2px;
    position: absolute;
    top: 9px;
    width: 100%
}

.s__ak8JOOgrLryWmXKV36vv .rc-slider .rc-slider-track {
    background-color: var(--brand_primary_500);
    height: 2px;
    position: absolute;
    top: 9px;
    width: 100%
}

.s__ak8JOOgrLryWmXKV36vv .rc-slider .rc-slider-mark {
    left: 0;
    pointer-events: none;
    position: absolute;
    top: calc(50% - 7px);
    width: 100%
}

.s__ak8JOOgrLryWmXKV36vv .rc-slider .rc-slider-mark-text {
    background-color: var(--slider_bg);
    color: var(--ink_400-graphite_300);
    cursor: pointer;
    display: inline-block;
    font-family: var(--text-font-family);
    font-size: 11px;
    font-weight: 600;
    line-height: 14px;
    padding: 0 2px;
    position: absolute;
    text-align: center;
    vertical-align: middle
}

.s__ak8JOOgrLryWmXKV36vv .rc-slider .rc-slider-mark-text-active {
    color: var(--brand_primary_500)
}

.s__ak8JOOgrLryWmXKV36vv .rc-slider .rc-slider-handle {
    background-color: var(--white);
    border: 2px solid var(--brand_primary_500-white);
    border-radius: 50%;
    cursor: grab;
    height: 18px;
    outline: none;
    overflow: visible;
    position: absolute;
    top: calc(50% - 9px);
    touch-action: pan-x;
    width: 18px;
    z-index: 1
}

@media (hover:none),
(pointer:coarse) {
    .s__ak8JOOgrLryWmXKV36vv .rc-slider .rc-slider-handle:before {
        content: "";
        height: 40px;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 48px
    }
}

.s__ak8JOOgrLryWmXKV36vv .rc-slider .rc-slider-handle:after {
    border-radius: inherit;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%
}

.s__ak8JOOgrLryWmXKV36vv .rc-slider .rc-slider-handle:hover:after {
    background-color: var(--black_alpha_8)
}

.s__ak8JOOgrLryWmXKV36vv .rc-slider .rc-slider-handle:active {
    cursor: grabbing
}

.s__ak8JOOgrLryWmXKV36vv .rc-slider .rc-slider-handle:active:after {
    background-color: var(--black_alpha_16)
}

.s__ak8JOOgrLryWmXKV36vv .rc-slider .rc-slider-disabled .rc-slider .rc-slider-handle {
    background-color: var(--ink_50-graphite_500);
    border-color: var(--disabled_lines_color);
    cursor: not-allowed
}

.s__ak8JOOgrLryWmXKV36vv .rc-slider .rc-slider-disabled .rc-slider .rc-slider-handle:hover:after {
    display: none
}

.s__ak8JOOgrLryWmXKV36vv .rc-slider .rc-slider-disabled .rc-slider .rc-slider-track {
    background-color: var(--disabled_lines_color)
}

.s__ak8JOOgrLryWmXKV36vv .rc-slider .rc-slider-disabled .rc-slider .rc-slider-mark-text {
    color: var(--ink_400-graphite_300)
}

.s__d7SpGLZwAgMOIlJNSGhN:not(#\#) {
    margin-top: 12px;
    padding: 0 10px
}

.s__n0VGvU5QGIndl2cBNLAr:not(#\#) {
    color: var(--ink_800)
}

.s__N5eNqZTxML2IYL0ExUWB:not(#\#),
.s__jc1aeV_VXES621Y_vkCE:not(#\#) {
    border-radius: 10px;
    padding: 16px
}

.s__N5eNqZTxML2IYL0ExUWB:not(#\#) {
    margin-bottom: 16px;
    margin-top: 8px
}

.s__gIlhMmvVACdfirzNMehl:not(#\#),
.s__jyJS6QrNoHIlda4QsXNP:not(#\#) {
    border-radius: 18px
}

.s__IsldchbNqkElsJC4L5Ug {
    --cashback-informer-opacity: 0.56
}

.--night .s__IsldchbNqkElsJC4L5Ug {
    --cashback-informer-opacity: 1
}

.s__f_O_PtStqeZyuSmucfgD {
    background: var(--white);
    border-radius: 10px;
    overflow: hidden;
    padding: 12px 76px 12px 16px;
    position: relative
}

@media (min-width:768px) {
    .s__f_O_PtStqeZyuSmucfgD {
        padding: 12px 88px 12px 16px
    }
}

.s__f_O_PtStqeZyuSmucfgD:before {
    background: var(--more_gradient_pinkvioletblue);
    content: "";
    height: 100%;
    left: 0;
    opacity: var(--cashback-informer-opacity);
    position: absolute;
    top: 0;
    width: 100%
}

.s__aF3WWkFIbPw2HnJInVH_ {
    position: relative
}

.s__E7QSdoB0V3hW7JqYk73G {
    margin-top: 6px;
    position: relative
}

.s__f_O_PtStqeZyuSmucfgD .s__F2sIbSKIQ4hX4rqYGmIx {
    background-color: var(--white);
    color: var(--ink_800);
    margin-top: 12px;
    position: relative
}

.s__f_O_PtStqeZyuSmucfgD .s__F2sIbSKIQ4hX4rqYGmIx:not(:disabled) {
    position: relative
}

.s__f_O_PtStqeZyuSmucfgD .s__F2sIbSKIQ4hX4rqYGmIx:not(:disabled):after {
    background-color: transparent;
    border-radius: inherit;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition-duration: 0;
    transition-property: background-color;
    transition-timing-function: cubic-bezier(.33, .96, .49, 1.01)
}

@media (hover:hover),
(pointer:fine) {
    .s__f_O_PtStqeZyuSmucfgD .s__F2sIbSKIQ4hX4rqYGmIx:not(:disabled) {
        cursor: pointer
    }

    .s__f_O_PtStqeZyuSmucfgD .s__F2sIbSKIQ4hX4rqYGmIx:not(:disabled):hover:after {
        background: var(--black_alpha_8)
    }
}

.s__f_O_PtStqeZyuSmucfgD .s__F2sIbSKIQ4hX4rqYGmIx:not(:disabled):focus {
    outline: 0
}

[data-interaction-mode=keyboard] .s__f_O_PtStqeZyuSmucfgD .s__F2sIbSKIQ4hX4rqYGmIx:not(:disabled):focus {
    outline: 2px solid rgba(239, 83, 37, .5)
}

@media (prefers-reduced-motion:no-preference) {
    [data-interaction-mode=keyboard] .s__f_O_PtStqeZyuSmucfgD .s__F2sIbSKIQ4hX4rqYGmIx:not(:disabled):focus {
        outline-offset: 5px;
        transition: outline-offset .25s ease
    }
}

@media not all and (min-resolution:0.001dpcm) {
    @supports (-webkit-appearance:none) {
        [data-interaction-mode=keyboard] .s__f_O_PtStqeZyuSmucfgD .s__F2sIbSKIQ4hX4rqYGmIx:not(:disabled):focus {
            transition: none
        }
    }
}

[data-interaction-mode=keyboard] .s__f_O_PtStqeZyuSmucfgD .s__F2sIbSKIQ4hX4rqYGmIx:not(:disabled):focus:after {
    background: var(--black_alpha_8)
}

.s__f_O_PtStqeZyuSmucfgD .s__F2sIbSKIQ4hX4rqYGmIx:not(:disabled):focus-visible {
    outline: 2px solid rgba(239, 83, 37, .5)
}

@media (prefers-reduced-motion:no-preference) {
    .s__f_O_PtStqeZyuSmucfgD .s__F2sIbSKIQ4hX4rqYGmIx:not(:disabled):focus-visible {
        outline-offset: 5px;
        transition: outline-offset .25s ease
    }
}

@media not all and (min-resolution:0.001dpcm) {
    @supports (-webkit-appearance:none) {
        .s__f_O_PtStqeZyuSmucfgD .s__F2sIbSKIQ4hX4rqYGmIx:not(:disabled):focus-visible {
            transition: none
        }
    }
}

.s__f_O_PtStqeZyuSmucfgD .s__F2sIbSKIQ4hX4rqYGmIx:not(:disabled):focus-visible:after {
    background: var(--black_alpha_8)
}

.s__f_O_PtStqeZyuSmucfgD .s__F2sIbSKIQ4hX4rqYGmIx:not(:disabled):active:after {
    background: var(--black_alpha_16)
}

.s__f_O_PtStqeZyuSmucfgD .s__J9kG_SEAUxQUgBaz3Q77 {
    background-color: var(--black_alpha_8);
    position: absolute;
    right: 8px;
    top: 8px
}

@media (hover:hover),
(pointer:fine) {
    .s__f_O_PtStqeZyuSmucfgD .s__J9kG_SEAUxQUgBaz3Q77 {
        cursor: pointer
    }

    .s__f_O_PtStqeZyuSmucfgD .s__J9kG_SEAUxQUgBaz3Q77:hover:after {
        background-color: var(--black_alpha_8)
    }
}

.s__f_O_PtStqeZyuSmucfgD .s__J9kG_SEAUxQUgBaz3Q77:focus {
    outline: 0
}

[data-interaction-mode=keyboard] .s__f_O_PtStqeZyuSmucfgD .s__J9kG_SEAUxQUgBaz3Q77:focus {
    outline: 2px solid rgba(239, 83, 37, .5)
}

@media (prefers-reduced-motion:no-preference) {
    [data-interaction-mode=keyboard] .s__f_O_PtStqeZyuSmucfgD .s__J9kG_SEAUxQUgBaz3Q77:focus {
        outline-offset: 5px;
        transition: outline-offset .25s ease
    }
}

@media not all and (min-resolution:0.001dpcm) {
    @supports (-webkit-appearance:none) {
        [data-interaction-mode=keyboard] .s__f_O_PtStqeZyuSmucfgD .s__J9kG_SEAUxQUgBaz3Q77:focus {
            transition: none
        }
    }
}

[data-interaction-mode=keyboard] .s__f_O_PtStqeZyuSmucfgD .s__J9kG_SEAUxQUgBaz3Q77:focus:after {
    background-color: var(--black_alpha_8)
}

.s__f_O_PtStqeZyuSmucfgD .s__J9kG_SEAUxQUgBaz3Q77:focus-visible {
    outline: 2px solid rgba(239, 83, 37, .5)
}

@media (prefers-reduced-motion:no-preference) {
    .s__f_O_PtStqeZyuSmucfgD .s__J9kG_SEAUxQUgBaz3Q77:focus-visible {
        outline-offset: 5px;
        transition: outline-offset .25s ease
    }
}

@media not all and (min-resolution:0.001dpcm) {
    @supports (-webkit-appearance:none) {
        .s__f_O_PtStqeZyuSmucfgD .s__J9kG_SEAUxQUgBaz3Q77:focus-visible {
            transition: none
        }
    }
}

.s__f_O_PtStqeZyuSmucfgD .s__J9kG_SEAUxQUgBaz3Q77:focus-visible:after {
    background-color: var(--black_alpha_8)
}

.s__f_O_PtStqeZyuSmucfgD .s__J9kG_SEAUxQUgBaz3Q77:active:after {
    background: var(--black_alpha_16)
}

.s__f_O_PtStqeZyuSmucfgD:not(#\#) .s__J9kG_SEAUxQUgBaz3Q77 svg {
    color: var(--black_alpha_72) !important
}

.s__AlN5Ko7SyssqN69CLmSe {
    bottom: 8px;
    height: 64px;
    position: absolute;
    right: 0;
    transform: scaleX(-1);
    width: 64px
}

@media (min-width:768px) {
    .s__AlN5Ko7SyssqN69CLmSe {
        height: 72px;
        right: 8px;
        width: 72px
    }
}

.s__uifqem72J7ZhCtGPbfm4 {
    --cashback-informer-opacity: 0.56
}

.--night .s__uifqem72J7ZhCtGPbfm4 {
    --cashback-informer-opacity: 1
}

.s__AuAsMLbdzNj2rv6fjram {
    align-items: center;
    background: var(--white);
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    padding: 8px;
    position: relative
}

.s__AuAsMLbdzNj2rv6fjram:before {
    background: var(--more_gradient_pinkvioletblue);
    content: "";
    display: block;
    height: 100%;
    left: 0;
    opacity: var(--cashback-informer-opacity);
    position: absolute;
    top: 0;
    width: 100%
}

.s__G00CMTB071ZkHQKkBU4a {
    max-width: 220px;
    position: relative
}

.s__AuAsMLbdzNj2rv6fjram .s__jxBjDm9Xn437P9SmJJN4 {
    background-color: var(--white);
    color: var(--ink_800);
    margin-left: 12px;
    position: relative
}

.s__AuAsMLbdzNj2rv6fjram .s__jxBjDm9Xn437P9SmJJN4:not(:disabled) {
    position: relative
}

.s__AuAsMLbdzNj2rv6fjram .s__jxBjDm9Xn437P9SmJJN4:not(:disabled):after {
    background-color: transparent;
    border-radius: inherit;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition-duration: 0;
    transition-property: background-color;
    transition-timing-function: cubic-bezier(.33, .96, .49, 1.01)
}

@media (hover:hover),
(pointer:fine) {
    .s__AuAsMLbdzNj2rv6fjram .s__jxBjDm9Xn437P9SmJJN4:not(:disabled) {
        cursor: pointer
    }

    .s__AuAsMLbdzNj2rv6fjram .s__jxBjDm9Xn437P9SmJJN4:not(:disabled):hover:after {
        background: var(--black_alpha_8)
    }
}

.s__AuAsMLbdzNj2rv6fjram .s__jxBjDm9Xn437P9SmJJN4:not(:disabled):focus {
    outline: 0
}

[data-interaction-mode=keyboard] .s__AuAsMLbdzNj2rv6fjram .s__jxBjDm9Xn437P9SmJJN4:not(:disabled):focus {
    outline: 2px solid rgba(239, 83, 37, .5)
}

@media (prefers-reduced-motion:no-preference) {
    [data-interaction-mode=keyboard] .s__AuAsMLbdzNj2rv6fjram .s__jxBjDm9Xn437P9SmJJN4:not(:disabled):focus {
        outline-offset: 5px;
        transition: outline-offset .25s ease
    }
}

@media not all and (min-resolution:0.001dpcm) {
    @supports (-webkit-appearance:none) {
        [data-interaction-mode=keyboard] .s__AuAsMLbdzNj2rv6fjram .s__jxBjDm9Xn437P9SmJJN4:not(:disabled):focus {
            transition: none
        }
    }
}

[data-interaction-mode=keyboard] .s__AuAsMLbdzNj2rv6fjram .s__jxBjDm9Xn437P9SmJJN4:not(:disabled):focus:after {
    background: var(--black_alpha_8)
}

.s__AuAsMLbdzNj2rv6fjram .s__jxBjDm9Xn437P9SmJJN4:not(:disabled):focus-visible {
    outline: 2px solid rgba(239, 83, 37, .5)
}

@media (prefers-reduced-motion:no-preference) {
    .s__AuAsMLbdzNj2rv6fjram .s__jxBjDm9Xn437P9SmJJN4:not(:disabled):focus-visible {
        outline-offset: 5px;
        transition: outline-offset .25s ease
    }
}

@media not all and (min-resolution:0.001dpcm) {
    @supports (-webkit-appearance:none) {
        .s__AuAsMLbdzNj2rv6fjram .s__jxBjDm9Xn437P9SmJJN4:not(:disabled):focus-visible {
            transition: none
        }
    }
}

.s__AuAsMLbdzNj2rv6fjram .s__jxBjDm9Xn437P9SmJJN4:not(:disabled):focus-visible:after {
    background: var(--black_alpha_8)
}

.s__AuAsMLbdzNj2rv6fjram .s__jxBjDm9Xn437P9SmJJN4:not(:disabled):active:after {
    background: var(--black_alpha_16)
}

.s__eVISLBjWK73WA462ZoXW:not(#\#) {
    color: var(--text_tertiary)
}

.s__M5_udPS4PR99Gerne3hG:not(#\#) {
    flex-shrink: 0
}

.s__va895lXYy_DnOtZk9ly0:not(#\#) {
    align-items: center;
    display: flex
}

.s__dDT_TP4GdD8YQDH9yg97:not(#\#)+.s__dDT_TP4GdD8YQDH9yg97 {
    margin-left: 12px
}

.s__nn3_cvJi1aH2bkoKLGUU:not(#\#) {
    color: var(--text_primary);
    flex: 1
}

.s__NA_Sgo2Z8A2sokPLiZ0u:not(#\#) {
    color: var(--text_tertiary)
}

.s__NWvtmMj2T1hNs4y1ZsW3:not(#\#) {
    opacity: .4;
    pointer-events: none
}

.s__fU6ZsPxmp9ZawZP99hVR:not(#\#) {
    cursor: pointer;
    opacity: .4;
    pointer-events: none
}

.s__fU6ZsPxmp9ZawZP99hVR.s__zDalHTVCzjyHKWzLt_Wp:not(#\#) {
    pointer-events: inherit
}

.s__R9WCf27HLyvNBw1W2C5b:not(#\#) {
    color: var(--ink_400-graphite_300);
    flex-shrink: 0;
    line-height: 0
}

.s__B4iKzFCg9a_giI1ar_r5:not(#\#) {
    color: var(--ink_500-graphite_300);
    margin-top: 4px
}

.s__CWt8tH1c9Hvo4ozkiZbn:not(#\#) {
    opacity: .5
}

.s__yDUgJnTCVAoOIWeSy8xj:not(#\#) {
    padding: 16px
}

.s__SW4DQ5VDxwpHmgswem1O:not(#\#) {
    margin-top: 4px;
    text-align: center
}

.s__ZHYho17cS8YoZMxFpSmy:not(#\#) {
    margin-top: 8px;
    text-align: center
}

.s__z5rkCeJ4euTHHrBWp4AA:not(#\#) {
    margin-top: 24px
}

.s__YZoA4UNlif50ipjXOwb8:not(#\#) {
    margin-top: 8px
}

.s__Hm28Us9SF_NYNi7OK2d4:not(#\#) {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between
}

.s__fzDygun3EKhT5OsPJazG:not(#\#) {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%
}

.s__bM0_b4qjdOzTJZVCmpZP:not(#\#) {
    bottom: 0;
    padding: 16px 8px 12px;
    position: sticky;
    width: 100%;
    z-index: 1
}

.s__g1KdQ4lIJvlt6jJzWJjN:not(#\#) {
    line-height: 0
}

.s__I0q5WaJzL8mUxhW69vXP {
    --chip-default-box-shadow-color: var(--black_alpha_16);
    --chip-active-overlay-backround-color: var(--black_alpha_8);
    --chip-selected-backround-color: var(--brand_shading);
    --chip-disabled-box-shadow-color: var(--black_alpha_4)
}

.--night .s__I0q5WaJzL8mUxhW69vXP {
    --chip-default-box-shadow-color: transparent;
    --chip-active-overlay-backround-color: var(--white_alpha_8);
    --chip-selected-backround-color: inherit;
    --chip-disabled-box-shadow-color: transparent
}

.s__hMuRiYBlilVLg0lQkuwV {
    background-color: var(--white-graphite_500);
    border: none;
    border-radius: 14px;
    box-shadow: 0 0 0 1px var(--chip-default-box-shadow-color);
    cursor: pointer;
    display: inline-block;
    max-width: 100%;
    padding: 0;
    position: relative;
    transition: .3s ease-in-out;
    transition-property: box-shadow, background-color
}

.s__S_sQwi4mKIdLnSl_nkTj {
    align-items: center;
    border-radius: inherit;
    box-sizing: border-box;
    color: var(--ink_800-graphite_50);
    display: flex;
    min-height: 36px;
    padding: 6px 12px;
    position: relative;
    transition: opacity .3s ease-in-out, background-color .3s ease-in-out
}

.s__S_sQwi4mKIdLnSl_nkTj:after {
    background-color: transparent;
    border-radius: inherit;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition-duration: .2s;
    transition-property: background-color;
    transition-timing-function: cubic-bezier(.33, .96, .49, 1.01)
}

.s__a7q01rTisBNEONaSPiy7 {
    transition: color .3s ease-in-out
}

.s__iEi8bLHMFMxt1nfeXrrw,
.s__rrG24L0Db6YxCj0DAk2s {
    align-items: center;
    display: flex
}

.s__iEi8bLHMFMxt1nfeXrrw {
    padding: 8px 6px 8px 12px
}

.s__rrG24L0Db6YxCj0DAk2s {
    padding: 8px 12px 8px 6px
}

@media (hover:hover),
(pointer:fine) {
    .s__hMuRiYBlilVLg0lQkuwV:hover .s__S_sQwi4mKIdLnSl_nkTj {
        opacity: .8;
        transition: none
    }
}

.s__hMuRiYBlilVLg0lQkuwV.s__yCSNM5cfOzhqBd9seoU5 {
    box-shadow: 0 0 0 2px var(--brand_primary_500)
}

.s__hMuRiYBlilVLg0lQkuwV.s__yCSNM5cfOzhqBd9seoU5 .s__S_sQwi4mKIdLnSl_nkTj {
    background-color: var(--chip-selected-backround-color);
    color: var(--brand_primary_500-white)
}

.s__hMuRiYBlilVLg0lQkuwV:active .s__S_sQwi4mKIdLnSl_nkTj:after {
    background-color: var(--chip-active-overlay-backround-color)
}

[data-interaction-mode=keyboard] .s__hMuRiYBlilVLg0lQkuwV:focus {
    outline: 2px solid rgba(239, 83, 37, .5)
}

@media (prefers-reduced-motion:no-preference) {
    [data-interaction-mode=keyboard] .s__hMuRiYBlilVLg0lQkuwV:focus {
        outline-offset: 5px;
        transition: outline-offset .25s ease
    }
}

@media not all and (min-resolution:0.001dpcm) {
    @supports (-webkit-appearance:none) {
        [data-interaction-mode=keyboard] .s__hMuRiYBlilVLg0lQkuwV:focus {
            transition: none
        }
    }
}

[data-interaction-mode=keyboard] .s__hMuRiYBlilVLg0lQkuwV:focus .s__S_sQwi4mKIdLnSl_nkTj:after {
    background: var(--chip-active-overlay-backround-color)
}

.s__hMuRiYBlilVLg0lQkuwV.s__QGuM7QGIzt5Jr5f20dkO {
    box-shadow: 0 0 0 1px var(--chip-disabled-box-shadow-color);
    cursor: default
}

.s__hMuRiYBlilVLg0lQkuwV.s__QGuM7QGIzt5Jr5f20dkO .s__S_sQwi4mKIdLnSl_nkTj {
    opacity: .3
}

.s__hMuRiYBlilVLg0lQkuwV.s___ErzmVcG4RxYi3Mu_XdR .s__S_sQwi4mKIdLnSl_nkTj,
.s__hMuRiYBlilVLg0lQkuwV.s__fdmxCoACUoRCPw6qR6jw .s__S_sQwi4mKIdLnSl_nkTj {
    padding-bottom: 0;
    padding-top: 0
}

.s__hMuRiYBlilVLg0lQkuwV.s___ErzmVcG4RxYi3Mu_XdR .s__S_sQwi4mKIdLnSl_nkTj {
    padding-right: 0
}

.s__hMuRiYBlilVLg0lQkuwV.s__fdmxCoACUoRCPw6qR6jw .s__S_sQwi4mKIdLnSl_nkTj {
    padding-left: 0
}

.s__l8aNc6HrTRpkswHpdJbk {
    --chip-arrow-after-element-background-color: var(--black_alpha_8)
}

.--night .s__l8aNc6HrTRpkswHpdJbk {
    --chip-arrow-after-element-background-color: var(--white_alpha_8)
}

.s__x9XOeJNOkWvvafPxb9ry {
    align-items: center;
    color: var(--icon_default);
    display: flex;
    margin: -8px -12px -8px -6px;
    padding: 10px 12px 10px 8px;
    pointer-events: none;
    position: relative;
    transition: color .3s ease-in-out;
    z-index: 1
}

.s__x9XOeJNOkWvvafPxb9ry:after {
    background-color: var(--chip-arrow-after-element-background-color);
    border-radius: 50%;
    content: "";
    height: 20px;
    left: 4px;
    opacity: 0;
    position: absolute;
    top: 8px;
    transition: opacity .3s ease-in-out;
    width: 20px
}

.s__HmHHxaqTnQfQJ72BTLvQ,
.s__zB6bqn8zK7iFZTSG7KYZ {
    fill: currentColor;
    transition: fill .3s ease-in-out
}

.s__HmHHxaqTnQfQJ72BTLvQ,
.s__zB6bqn8zK7iFZTSG7KYZ {
    height: 16px;
    width: 16px
}

.s__zB6bqn8zK7iFZTSG7KYZ {
    transform: rotate(-90deg)
}

@media (hover:hover),
(pointer:fine) {
    .s__x9XOeJNOkWvvafPxb9ry:hover:after {
        opacity: 1;
        transition: none
    }
}

.s__IFPDCaMef_Kbnehtulpt .s__x9XOeJNOkWvvafPxb9ry {
    color: var(--brand_primary_500-white);
    padding: 10px 10px 10px 6px;
    pointer-events: auto
}

.s__ysN2OCupyX71YvrraYuG:not(#\#) {
    padding: 0
}

.s__OIilvaIuHQUy5ukL4w8z:not(#\#) {
    align-items: center;
    -moz-column-gap: 0;
    column-gap: 0;
    padding: 8px 16px
}

.s__dbQLcajBV0iWgFdEIZgo:not(#\#) {
    margin-left: 12px
}

.s__FaHLE9707oXQZqocgbhQ {
    --radio-label-color: var(--ink_800);
    --radio-border: var(--black_alpha_24);
    --radio-default-background: var(--white);
    --radio-hover-background: var(--black_alpha_8);
    --radio-pressed-background: var(--black_alpha_16);
    --radio-error-background: var(--red_50);
    --radio-checked-background: var(--brand_primary_500);
    --radio-mark-color: var(--white)
}

.--night .s__FaHLE9707oXQZqocgbhQ {
    --radio-label-color: var(--white);
    --radio-border: var(--white_alpha_24);
    --radio-default-background: var(--white_alpha_8);
    --radio-hover-background: var(--white_alpha_8);
    --radio-pressed-background: var(--white_alpha_16);
    --radio-error-background: transparent
}

.s__kVa0nACOvGJAzR4fWESt {
    align-items: flex-start;
    column-gap: 8px;
    cursor: pointer;
    display: flex;
    position: relative
}

.s__kVa0nACOvGJAzR4fWESt.s__vwuv6gUg47I8cJ2s7hiB {
    flex-direction: row-reverse
}

.s__kVa0nACOvGJAzR4fWESt input {
    cursor: pointer;
    height: 0;
    opacity: 0;
    position: absolute;
    width: 0
}

.s__kVa0nACOvGJAzR4fWESt input:disabled {
    pointer-events: none
}

.s__hVHveRNDNynhxZZM_CaM {
    background-color: var(--radio-default-background);
    border: 1px solid var(--radio-border);
    border-radius: 20px;
    display: block;
    flex-shrink: 0;
    height: 20px;
    overflow: hidden;
    position: relative;
    transition-duration: .5s;
    transition-property: background-color, border-color;
    transition-timing-function: cubic-bezier(.33, .96, .49, 1.01);
    width: 20px
}

.s__hVHveRNDNynhxZZM_CaM:before {
    border-radius: 8px;
    height: 8px;
    left: calc(50% - 4px);
    top: calc(50% - 4px);
    width: 8px
}

.s__hVHveRNDNynhxZZM_CaM:after,
.s__hVHveRNDNynhxZZM_CaM:before {
    background-color: transparent;
    content: "";
    position: absolute;
    transition-duration: .1s;
    transition-property: background-color;
    transition-timing-function: cubic-bezier(.33, .96, .49, 1.01)
}

.s__hVHveRNDNynhxZZM_CaM:after {
    border-radius: inherit;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0
}

.s__LbKvtHKH5jlShfE8tbbM {
    color: var(--radio-label-color);
    flex-grow: 1;
    line-height: 20px;
    transition-duration: .5s;
    transition-property: color;
    transition-timing-function: cubic-bezier(.33, .96, .49, 1.01)
}

@media (hover:hover),
(pointer:fine) {
    .s__kVa0nACOvGJAzR4fWESt:hover input:not(:disabled)~.s__hVHveRNDNynhxZZM_CaM:after {
        background-color: var(--radio-hover-background)
    }
}

.s__kVa0nACOvGJAzR4fWESt:active input:not(:disabled):not(:checked)~.s__hVHveRNDNynhxZZM_CaM:after {
    background-color: var(--radio-pressed-background)
}

.s__kVa0nACOvGJAzR4fWESt input:checked~.s__hVHveRNDNynhxZZM_CaM {
    background: var(--radio-checked-background);
    border-color: var(--radio-checked-background)
}

.s__kVa0nACOvGJAzR4fWESt input:checked~.s__hVHveRNDNynhxZZM_CaM:before {
    background: var(--radio-mark-color)
}

.s__kVa0nACOvGJAzR4fWESt input:disabled~.s__LbKvtHKH5jlShfE8tbbM,
.s__kVa0nACOvGJAzR4fWESt input:disabled~.s__hVHveRNDNynhxZZM_CaM {
    opacity: .4
}

@media (hover:hover),
(pointer:fine) {
    .s__kVa0nACOvGJAzR4fWESt:hover.s__XQsE0w4CX0DPFq_YUgPD input~.s__hVHveRNDNynhxZZM_CaM {
        background: var(--radio-error-background);
        border-color: var(--red_500)
    }
}

.s__kVa0nACOvGJAzR4fWESt.s__XQsE0w4CX0DPFq_YUgPD input:checked~.s__hVHveRNDNynhxZZM_CaM,
.s__kVa0nACOvGJAzR4fWESt.s__XQsE0w4CX0DPFq_YUgPD input~.s__hVHveRNDNynhxZZM_CaM,
.s__kVa0nACOvGJAzR4fWESt:active.s__XQsE0w4CX0DPFq_YUgPD input~.s__hVHveRNDNynhxZZM_CaM {
    background: var(--radio-error-background);
    border-color: var(--red_500)
}

.s__kVa0nACOvGJAzR4fWESt.s__XQsE0w4CX0DPFq_YUgPD input:checked~.s__hVHveRNDNynhxZZM_CaM:before {
    background: var(--red_500)
}

:root:not(#\#) {
    --filter-info-color: var(--ink_400)
}

.s__S8waCIor00ZmM05wT6IU:not(#\#) {
    --filter-info-color: var(--graphite_300)
}

.s__TPcVwVvbzBnDS25v1LPQ:not(#\#) {
    align-items: center;
    display: flex
}

.s__a8JoroM5GFHUtuPN90wX:not(#\#) {
    flex: 1
}

.s___aSNtw1z8U16f5atq18f:not(#\#)+.s___aSNtw1z8U16f5atq18f {
    margin-left: 15px
}

.s__zPIpvsGbi1xkX81ZZ9yL:not(#\#) {
    flex-shrink: 0
}

.s__k_C634liw5b6fGymF0iQ:not(#\#) {
    color: var(--ink_400);
    color: var(--filter-info-color);
    flex-shrink: 0;
    line-height: 0
}

.s__jppDlNXOzm5Ulog0j2QN:not(#\#) {
    opacity: .4;
    pointer-events: none
}

.s__qqlhglpbGMDqtFIbaXJM:not(#\#) {
    cursor: pointer;
    opacity: .4;
    pointer-events: none
}

.s__qqlhglpbGMDqtFIbaXJM.s__mueHPVfMifz4wvMEuE2S:not(#\#) {
    pointer-events: inherit
}

.s__bDrtSl1If1mgFdYI9xa7:not(#\#) {
    margin: 10px 12px 6px
}

.s__fV0z920vuGhrdzYTPIz8 {
    --search-input-background: var(--black_alpha_8);
    --search-input-background-hover: var(--black_alpha_12);
    --clear-button-icon-color: var(--black_alpha_72);
    --clear-button-icon-background: var(--black_alpha_8)
}

.--night .s__fV0z920vuGhrdzYTPIz8 {
    --search-input-background: var(--white_alpha_8);
    --search-input-background-hover: var(--white_alpha_12);
    --clear-button-icon-color: var(--white);
    --clear-button-icon-background: var(--white_alpha_16)
}

.s__wxWhlvL1vtDq7uJuVNFt {
    background-color: var(--search-input-background);
    border-radius: 10px;
    display: block;
    position: relative;
    transition-duration: .5s;
    transition-property: background-color, opacity;
    transition-timing-function: cubic-bezier(.33, .96, .49, 1.01)
}

.s__wxWhlvL1vtDq7uJuVNFt:hover {
    background-color: var(--search-input-background-hover)
}

.s__L0gvaAIls54kLKmrzFdF {
    -webkit-appearance: none;
    background-color: transparent;
    border: 0;
    border-radius: inherit;
    color: var(--ink_800-graphite_50);
    font-family: var(--text-font-family);
    font-size: 15px;
    font-weight: 400;
    line-height: 19px;
    min-height: 36px;
    overflow: hidden;
    padding: 9px 44px 9px 36px;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%
}

.s__L0gvaAIls54kLKmrzFdF:focus {
    outline: 0
}

.s__L0gvaAIls54kLKmrzFdF::placeholder {
    color: var(--ink_400-graphite_300);
    opacity: 1
}

.s__L0gvaAIls54kLKmrzFdF::-ms-clear {
    display: none
}

.s__VlKAyrvfwT5L4TxZIfVU {
    color: var(--ink_400-graphite_300);
    left: 6px
}

.s__VlKAyrvfwT5L4TxZIfVU,
.s__pHCjwkfMXMU4XoBmxdEt {
    align-items: center;
    display: flex;
    height: 100%;
    position: absolute
}

.s__pHCjwkfMXMU4XoBmxdEt {
    right: 8px;
    top: 0
}

.s__xlgV6BKtVCezSsyZIM0_:not(#\#) {
    color: var(--ink_400-graphite_300)
}

.s__F1BNropktX40JqAYPLny:not(#\#) {
    margin: 10px 12px 6px
}

.s__mN2P08r4bVuveObFsj05:not(#\#) {
    color: var(--text_tertiary)
}

.s__mWlE4jBGLw9lHZSBy0B1:not(#\#) {
    padding-top: 4px
}

.s__H3OKBYzM7DJgIRoJsA1C:not(#\#) {
    color: var(--text_primary);
    padding: 8px 16px
}

.s__QyP5LAtgSERY7xwAtVP2:not(#\#) {
    color: var(--ink_400-graphite_300)
}

.s__BxgdyrfMQelKCzW8wr8z:not(#\#) {
    margin: 10px 12px 6px
}

.s__Y7739pp2UuNnQE8AutuZ:not(#\#) {
    width: 100%
}

.s__t4w7hicP5GDNK40ZSHa2:not(#\#) {
    color: inherit;
    display: block;
    transition: color .3s ease-in-out
}

.s__sOkgaGvI3CQm7IF8_O36:not(#\#) {
    color: var(--icon_default)
}

.s__PJDyw7RcowNjnsbOEH70:not(#\#) {
    color: inherit
}

.s__jQbhe9TEdWQ1sELv5FEj:not(#\#) {
    display: flex;
    flex-direction: column;
    gap: 6px;
    position: relative
}

.s__mADf_XUyfMzBTV9Px6G6:not(#\#) {
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 2
}

.s__DsmB7tVlzIIukBaUHfJX:not(#\#) {
    display: flex;
    gap: 6px;
    overflow: scroll;
    padding: 4px 16px
}

.s__DsmB7tVlzIIukBaUHfJX:empty:not(#\#) {
    display: none
}

.s__DsmB7tVlzIIukBaUHfJX:not(#\#)::-webkit-scrollbar {
    display: none
}

.s__zgkIvHl2kY7IBiC18T58:not(#\#) {
    align-items: center;
    -moz-column-gap: 5px;
    column-gap: 5px;
    cursor: default;
    display: flex;
    flex-wrap: wrap
}

.s__AJoCHfJ6wMwejhayO_fm:not(#\#) {
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: center
}

.s__AJoCHfJ6wMwejhayO_fm:hover:not(#\#) {
    opacity: .6
}

.s__SVimhBpq60o4Bnzmknby:not(#\#) {
    fill: var(--brand_primary_500);
    position: relative;
    top: 1px
}

.s__A2GpFWunOkhfkVxj8Rly:not(#\#),
.s__W_ptbWUNgd0Ta5fqdX6S:not(#\#) {
    background-color: var(--white-graphite_700)
}

.s__VAY3cgB9H9gzTRd9SqH7:not(#\#) {
    color: var(--ink_800-graphite_50)
}

.s__p_Y9s7PDHGFMHqvn6IE0:not(#\#) {
    color: var(--brand_primary_500)
}

.s__WYVPhNwG0w8y4ztoRLYV:not(#\#) {
    left: 204px;
    margin-top: 4px;
    position: absolute
}

.s__u2FloqPCmmJF60hyKKOo:not(#\#) {
    border-radius: 14px;
    border-width: 0;
    color: var(--ink_800-graphite_50);
    padding: 4px 0
}

.s__V7m1WkQaezF0cooOuyVg:not(#\#) {
    padding: 24px 16px;
    width: 100%
}

.s__Fi29p5p91blDrjBA81Hd:not(#\#) {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between
}

.s__trLjCw9zhsYewNQwjKc4:not(#\#) {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 24px 16px;
    width: 100%
}

.s__IOXL63_lRjMSpiaV15gA {
    --dropdown-background: var(--white);
    --dropdown-border: transparent;
    --dropdown-shadow: 0 6px 9px rgba(0, 0, 0, .08)
}

.--night .s__IOXL63_lRjMSpiaV15gA {
    --dropdown-background: var(--graphite_600);
    --dropdown-border: var(--graphite_900);
    --dropdown-shadow: none
}

.s__EV1p5ZE5yZ7zL3O7li9n {
    position: relative
}

.s___LKQNzLsTcLCfSNk81Qm {
    position: absolute;
    z-index: 2
}

.s__SmyWwz1AuJ3lyI2qxY3A {
    background: var(--dropdown-background);
    height: 10px;
    position: relative;
    transform: rotate(45deg);
    width: 10px
}

.s__J3FrAbBq21s4NyBmRHaI {
    background: var(--dropdown-background);
    border: 1px solid var(--dropdown-border);
    border-radius: 5px;
    box-shadow: var(--dropdown-shadow);
    width: 300px
}

.s__DYtpBgCNdfaX2lp6GLt9 {
    position: relative;
    width: 100%;
    z-index: 2
}

.s___hWN4_JB7DABrxMuyFRC {
    overflow: hidden
}

.s___7CXjz89LQV83Ve_cemw {
    display: flex;
    pointer-events: none;
    position: absolute;
    z-index: 1
}

.s__dEC1QtaPjyUyEJekaMUt {
    right: calc(100% + 11px);
    top: 50%;
    transform: translateY(-50%)
}

.s__dEC1QtaPjyUyEJekaMUt .s___7CXjz89LQV83Ve_cemw {
    align-items: center;
    bottom: 0;
    left: 100%;
    top: 0
}

.s__dEC1QtaPjyUyEJekaMUt .s__SmyWwz1AuJ3lyI2qxY3A {
    border-radius: 0 2px 0 0;
    border-right: 1px solid var(--dropdown-border);
    border-top: 1px solid var(--dropdown-border);
    left: -5px
}

.s__uQLsIoCTxLwAwZcTguxQ {
    left: calc(100% + 11px);
    top: 50%;
    transform: translateY(-50%)
}

.s__uQLsIoCTxLwAwZcTguxQ .s___7CXjz89LQV83Ve_cemw {
    align-items: center;
    bottom: 0;
    right: 100%;
    top: 0
}

.s__uQLsIoCTxLwAwZcTguxQ .s__SmyWwz1AuJ3lyI2qxY3A {
    border-bottom: 1px solid var(--dropdown-border);
    border-left: 1px solid var(--dropdown-border);
    border-radius: 0 0 0 2px;
    right: -5px
}

.s__GNla1WrtOQVHihnxW9Kk {
    bottom: calc(100% + 11px);
    left: 50%;
    transform: translateX(-50%)
}

.s__GNla1WrtOQVHihnxW9Kk .s___7CXjz89LQV83Ve_cemw {
    justify-content: center;
    left: 0;
    right: 0;
    top: 100%
}

.s__GNla1WrtOQVHihnxW9Kk .s__SmyWwz1AuJ3lyI2qxY3A {
    border-bottom: 1px solid var(--dropdown-border);
    border-radius: 0 0 2px 0;
    border-right: 1px solid var(--dropdown-border);
    top: -6px
}

.s__w9B8pvrvZwrBWu1BC07K {
    left: 50%;
    top: calc(100% + 11px);
    transform: translateX(-50%)
}

.s__w9B8pvrvZwrBWu1BC07K .s___7CXjz89LQV83Ve_cemw {
    bottom: 100%;
    justify-content: center;
    left: 0;
    right: 0
}

.s__w9B8pvrvZwrBWu1BC07K .s__SmyWwz1AuJ3lyI2qxY3A {
    border-left: 1px solid var(--dropdown-border);
    border-radius: 2px 0 0 0;
    border-top: 1px solid var(--dropdown-border);
    bottom: -5px
}

.s__HxulcapKbxlw6LUK4gPs {
    right: 0;
    top: calc(100% + 11px)
}

.s__HxulcapKbxlw6LUK4gPs .s___7CXjz89LQV83Ve_cemw {
    bottom: 100%;
    right: 10px
}

.s__HxulcapKbxlw6LUK4gPs .s__SmyWwz1AuJ3lyI2qxY3A {
    border-left: 1px solid var(--dropdown-border);
    border-radius: 2px 0 0 0;
    border-top: 1px solid var(--dropdown-border);
    bottom: -5px
}

.s__rI9B4JYpC66EeXdD_FOW {
    left: 0;
    top: calc(100% + 11px)
}

.s__rI9B4JYpC66EeXdD_FOW .s___7CXjz89LQV83Ve_cemw {
    bottom: 100%;
    left: 10px
}

.s__rI9B4JYpC66EeXdD_FOW .s__SmyWwz1AuJ3lyI2qxY3A {
    border-left: 1px solid var(--dropdown-border);
    border-radius: 2px 0 0 0;
    border-top: 1px solid var(--dropdown-border);
    bottom: -5px
}

.s__vTx7eD8vps2zrQ9DV6mg .s__SmyWwz1AuJ3lyI2qxY3A {
    display: none
}

.s__vTx7eD8vps2zrQ9DV6mg.s__dEC1QtaPjyUyEJekaMUt {
    right: 100%
}

.s__vTx7eD8vps2zrQ9DV6mg.s__uQLsIoCTxLwAwZcTguxQ {
    left: 100%
}

.s__vTx7eD8vps2zrQ9DV6mg.s__GNla1WrtOQVHihnxW9Kk {
    bottom: 100%
}

.s__vTx7eD8vps2zrQ9DV6mg.s__HxulcapKbxlw6LUK4gPs,
.s__vTx7eD8vps2zrQ9DV6mg.s__rI9B4JYpC66EeXdD_FOW,
.s__vTx7eD8vps2zrQ9DV6mg.s__w9B8pvrvZwrBWu1BC07K {
    top: 100%
}

.s__tKXfMSTXN6pG791hO96T:not(#\#) {
    margin-left: 4px;
    position: relative;
    z-index: 3
}

.s__IXrr4tPsl4Zhl7wqlOva:not(#\#) {
    width: 100%
}

.s__nLKNuHgZu24cD0vW7Inp:not(#\#) {
    opacity: .4;
    pointer-events: none
}